In [ ]:
import pandas as pd


total_list = pd.read_csv('total_list2.csv')
boxoffice = pd.read_csv('boxoffice2.csv') 
genre_total = pd.read_csv('genre_total.csv',  thousands = ',')   #천단위 숫자기호 제거

In [3]:
total_list.head(3)

,new,year,month,region,title,open_date,sales,sales_share,cum_sales,audience,cum_audience,screen_qty,screen_count,re_nation,nation,seat_rate,seat_share,seat_qty
0,20189강원도서치,2018,9,강원도,서치,2018-08-29,464393950,0.133,497280750,56195,60606,46,2524,미국,미국,0.149,0.004,376170.0
1,20189강원도명당,2018,9,강원도,명당,2018-09-19,401559200,0.115,401559200,49665,49665,54,1726,한국,한국,0.215,0.002,230210.0
2,20189강원도협상,2018,9,강원도,협상,2018-09-19,375726300,0.108,375726300,46214,46214,43,1560,한국,한국,0.215,0.002,214470.0